<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:person="/person/"
		xmlns:movie="/movie/"
		xmlns:character="/character/"
		xmlns:user="/user/"
		xmlns:smdb="http://www.smdb.com/smdb.owl#"
		xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
		xmlns:owls="http://www.w3.org/2002/07/owl#"
		xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema#">
		
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<title>Social Movie Database</title>
	
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/main.css" />
	<script src="{{MEDIA_URL}}js/main.js" type="text/javascript" charset="utf-8"></script>
	
	{% block header_extras %}{% endblock %}
	
</head>

<body>
	<div id="header">
		<h1 id="header-title"><a href="/">Social Movie Database</a></h1>
	</div>
	
	<div id="menu">
		<ul>
			<li><a href="/"><img src="{{MEDIA_URL}}images/house.png" alt="Home"/>Home</a></li>
			<!--<li><a href="/suggestion/"><img src="{{MEDIA_URL}}images/box.png"/>Recommended Movies</a></li>-->
			{% if request.user.is_authenticated %}
				<li><a href="/profile/"><img src="{{MEDIA_URL}}images/user.png" alt="Profile"/>Profile</a></li>
				<li><a href="/logout/"><img src="{{MEDIA_URL}}images/logout.png" alt="Logout"/>Logout</a></li>
			{% else %}
				<li><a href="/login/"><img src="{{MEDIA_URL}}images/login.png" alt="Login"/>Login</a></li>
			{% endif %}
		</ul>
	</div>
	
	<div id="search">
		<form method="get" action="/search/">
			<div><input type="text" value="Search" onclick="this.value='';" name="find"/></div>
		</form>
	</div>
	
	<div id="sidebar">
		<h1 class="sidebar">Browse</h1>

		<ul>
			<!--<a href="/browse/all/"><li>All</li></a>-->
			<a href="/browse/movies/"><li>Movies</li></a>
			<a href="/browse/people/"><li>People</li></a>
			<!--<a href="/browse/characters/"><li>Characters</li></a>-->
			<a href="/browse/users/"><li>Users</li></a>
		</ul>
	</div>
	
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	
</body>
</html>