{% extends "base.html" %}

{% block content %}
	<h2>Browse Movies</h2>
	
	<div class="description">
		<table class="filter">
			<tr>
				{% for header in f.getHeaders %}
				<th>{{ header }}</th>
				{% endfor %}
			</th>
			<!--class="selected"-->
			{% for row in f.getData %}
			<tr>
				{% for data, selected, type in row %}
					<td {% if selected %}class="selected" {% else %} onclick="window.location.href = '?{{ type }}={{ data }}';" {% endif %}>
						{{ data }}
					</td>
				{% endfor %}
			</tr>
			{% endfor %}
			<!--<tr>
				<td></td>
				<td><a href="#">more...</a></td>
				<td></td>
			</tr>-->
		</table>
		
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Results</span></h3>
		
		<table class="movie-list">
			
			{% for uri, title, year in movie_list %}
				<tr>
					<td><a href="{{ uri }}">{{ title }}</a></td>
					<td>{{ year }}</td>
				</tr>
			{% empty %}
				<p>No movies found.</p>
			{% endfor %}
			
		</table>
	</div>
	
{% endblock %}