{% extends "base.html" %}
{% load utils %}

{% block content %}
	<h2>Browse Movies</h2>
	
	<div class="description">
		<table class="filter">
			<tr>
				{% for header in f.getHeaders %}
				<th>{{ header }}</th>
				{% endfor %}
			</th>
			<!--class="selected"-->
			{% for row in f.getData %}
			{% if forloop.counter|lowerThan:10 %}
				<tr>
					{% for el in row %}
						<td {% if el.selected %}class="selected" {% else %} onclick="window.location.href = '?{{ el.label }}={{ el.id }}';" {% endif %}
							{% if not el.data %}style="background-color: white; border: 1px white solid; cursor: default;"{% endif %}>
							{{ el.data }}
						</td>
					{% endfor %}
				</tr>
			{% endif %}
			
			{% if forloop.last %}
				<tr>
					{% for el in row %}
						<td><a href="javascript:{for (var tag in document.getElementsByTagName('td')) {tag.style.display=''}">more...</a></td>
					{% endfor %}
				</tr>
			{% endif %}
			{% endfor %}
			<!--<tr>
				<td></td>
				<td><a href="#">more...</a></td>
				<td></td>
			</tr>-->
		</table>
		
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Movie Results</span></h3>
		
		<table class="movie-list">
			
			{% for uri, title, year in movie_list %}
				<tr>
					<td><a href="{{ uri }}">{{ title }}</a></td>
					<td>{{ year }}</td>
				</tr>
			{% empty %}
				<p>No Movie found.</p>
			{% endfor %}
			
		</table>
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>People Results</span></h3>
		
		<table class="movie-list">
			
			{% for uri, name in people_list %}
				<tr>
					<td><a href="{{ uri }}">{{ name }}</a></td>
					<td>&nbsp;</td>
				</tr>
			{% empty %}
				<p>No People found.</p>
			{% endfor %}
			
		</table>
	</div>
	
{% endblock %}