{% extends "base.html" %}

{% block content %}
	<h2>{{ character.name }} <span>(Character)</span></h2>
	
	<div class="section">
		<h3 class="context-header"><span>Portrayed In</span></h3>
		
		<table class="movie-list">
			
			{% for movie, actor in character.get_movie_actors %}
			<tr>
				<td><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a> by <a href="{{ actor.get_absolute_url }}" class="not-bold">{{ actor.name }}</a></td>
				<td>{{ movie.releaseDate|date:"Y" }}</td>
			</tr>
			{% empty %}
				<p>No movies found.</p>
			{% endfor %}
		</table>
	</div>
	
{% endblock %}