{% extends "base.html" %}

{% block content %}
	<div class="section">
		<h3 class="context-header"><span>Recommended Movies</span></h3>
	
		<table class="movie-gallery">
			<tr>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMjE0ODk2NjczOV5BMl5BanBnXkFtZTYwNDQ0NDg4._V1._SY314_CR3,0,214,314_.jpg" /></a></td>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMjIzMDI4MTUzOV5BMl5BanBnXkFtZTcwNDY3NjA3Mg@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMTM2NjEyNzk2OF5BMl5BanBnXkFtZTcwNjcxNjUyMQ@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMTIyMTIxNjI5NF5BMl5BanBnXkFtZTcwNzQzNDM5MQ@@._V1._SY314_CR1,0,214,314_.jpg" /></a></td>
			</tr>
		
			<tr>
				<td><a href="/movie/">Pulp Fiction</a></td>
				<td><a href="/movie/">Inglorious Bastards</a></td>
				<td><a href="/movie/">The Shawshank Redemption</a></td>
				<td><a href="/movie/">Inception</a></td>
				<td><a href="/movie/">The Godfather</a></td>
			</tr>
		</table>
	</div>
	
	<div class="section">
		<h3 class="indented">Recent Additions</h3>
	
		<table class="movie-gallery">
			<tr>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMTQ2OTE1Mjk0N15BMl5BanBnXkFtZTcwODE3MDAwNA@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMjA5NzMwMjA0OV5BMl5BanBnXkFtZTcwNDMzMzc5Mw@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMTM2ODk0NDAwMF5BMl5BanBnXkFtZTcwNTM1MDc2Mw@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMTgxOTk4MDIyOF5BMl5BanBnXkFtZTcwMzI3Nzc3Mw@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMTUwNzIwMDY0OF5BMl5BanBnXkFtZTcwMzM3Njg2Mw@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
			</tr>
		
			<tr>
				<td><a href="/movie/">Harry Potter e os Talismãs da Morte: Parte 1</a></td>
				<td><a href="/movie/">Tangled</a></td>
				<td><a href="/movie/">The Social Network</a></td>
				<td><a href="/movie/">Stone</a></td>
				<td><a href="/movie/">Machete</a></td>
			</tr>
		
		</table>
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Seen by Friends</span></h3>
	
		<table class="movie-gallery">
			<tr>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMjIzMDI4MTUzOV5BMl5BanBnXkFtZTcwNDY3NjA3Mg@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMjE0ODk2NjczOV5BMl5BanBnXkFtZTYwNDQ0NDg4._V1._SY314_CR3,0,214,314_.jpg" /></a></td>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMTQ2OTE1Mjk0N15BMl5BanBnXkFtZTcwODE3MDAwNA@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
			</tr>
		
			<tr>
				<td><a href="/movie/">Inglorious Bastards</a></td>
				<td><a href="/movie/">Pulp Fiction</a></td>
				<td><a href="/movie/">Harry Potter e os Talismãs da Morte: Parte 1</a></td>
			</tr>
		
		</table>
	</div>
{% endblock %}