{% extends "base.html" %}

{% block content %}
	{% if request.user.is_authenticated %}
	<div class="section">
		<h3 class="context-header"><span>Recommended Movies</span></h3>
		
		<table class="movie-gallery">
			<tr>
				{% for uri, title, score in recommended_movies %}
					<td><a href="{{ uri }}"><img src="{{MEDIA_URL}}/images/movie-default.png" /></a></td>
				{% endfor %}
			</tr>
		
			<tr>
				{% for uri, title, score in recommended_movies %}
					<td><a href="{{ uri }}" alt="Score: {{score}}" title="Score: {{score}}">{{ title }}</a></td>
				{% endfor %}
			</tr>
		
		</table>
	</div>
	{% endif %}
	
	<div class="section">
		<h3 class="context-header"><span>Popular Movies</span></h3>
	
		<table class="movie-gallery">
			<tr>
				{% for uri, title, score in popular_movies %}
					<td><a href="{{ uri }}"><img src="{{MEDIA_URL}}/images/movie-default.png" /></a></td>
				{% endfor %}
			</tr>
		
			<tr>
				{% for uri, title, score in popular_movies %}
					<td><a href="{{ uri }}" alt="Score: {{score}}" title="Score: {{score}}">{{ title }}</a></td>
				{% endfor %}
			</tr>
		
		</table>
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Movies of the Year</span></h3>
	
		<table class="movie-gallery">
			<tr>
				{% for uri, title, score in movies_of_the_year %}
					<td><a href="{{ uri }}"><img src="{{MEDIA_URL}}/images/movie-default.png" /></a></td>
				{% endfor %}
			</tr>
		
			<tr>
				{% for uri, title, score in movies_of_the_year %}
					<td><a href="{{ uri }}" alt="Score: {{score}}" title="Score: {{score}}">{{ title }}</a></td>
				{% endfor %}
			</tr>
		
		</table>
	</div>
	
	{% if request.user.is_authenticated %}
	<div class="section">
		<h3 class="context-header"><span>Seen by Friends</span></h3>
	
		<table class="movie-gallery">
			<tr>
				{% for uri, title, score in seen_by_friends %}
					<td><a href="{{ uri }}"><img src="{{MEDIA_URL}}/images/movie-default.png" /></a></td>
				{% endfor %}
			</tr>
		
			<tr>
				{% for uri, title, score in seen_by_friends %}
					<td><a href="{{ uri }}" alt="Score: {{score}}" title="Score: {{score}}">{{ title }}</a></td>
				{% endfor %}
			</tr>
		
		</table>
	</div>
	{% endif %}
	
{% endblock %}