{% extends "base.html" %}

{% load model_helpers %}

{% block content %}
	<div about="{{ movie.uri }}" typeof="smdb:Movie">
	<h2>
		<span property="smdb:title">{{ movie.title }}</span> <span class="smaller">({{ movie.releaseDate }})</span>
		
		{% if request.user.is_authenticated %}
			{% if request.user|hasSeen:movie %}
				<span class="button seen">You've seen this Movie!</span>
			{% else %}
				<a href="mark-seen/"><span class="button unseen">Mark as Seen</span></a>
			{% endif %}
		{% endif %}
	</h2>
	
	<img property="smdb:posterURL" about="{{ movie.uri }}" content="{{ MEDIA_URL }}images/movie-default.png" class="description-photo" src="{{ MEDIA_URL }}images/movie-default.png" alt="Poster" style="width: 80px"/>
	
	<div class="description">
		
		<p>
			<b class="label">Synopsis:</b><br />
			<span class="text-box" property="smdb:synopsis">{{ movie.synopsis }}</span>
		</p>
		
		<p><b class="label">Director:</b> {% for obj in movie.directedBy %}<a rel="smdb:directedBy" href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
		<p><b class="label">Writers:</b> {% for obj in movie.writtenBy %}<a rel="smdb:writtenBy" href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
		
		<p><b class="label">Genres:</b> {% for obj in movie.isOfGenre %}<a rel="smdb:isOfGenre" resource="{{ obj.uri }}" href="{{ obj.get_absolute_url }}">{{ obj }}</a>{% if not forloop.last %}, {% endif %}{% empty %}&nbsp;{% endfor %}</p>
		{% if movie.hasRating %}<p><b class="label">MPAA Rating:</b> <a rel="smdb:hasRating" resource="{{ movie.hasRating.uri }}" href="{{ movie.hasRating.get_absolute_url }}">{{ movie.hasRating }}</a></p>{% endif %}
		{% if movie.duration %}<p><b class="label">Duration:</b> <span property="smdb:duration">{{ movie.duration }}</span> min</p>{% endif %}
		<p><b class="label">Release Year:</b> <span property="smdb:releaseDate">{{ movie.releaseDate }}</span></p>
		
		{% if movie.shotIn %}<p><b class="label">Shot In:</b> {% for obj in movie.shotIn %}<a property="smdb:shotIn" resource="{{ movie.uri }}" href="{{ obj.get_absolute_url }}">{{ obj }}</a>{% if not forloop.last %}, {% endif %}{% empty %}&nbsp;{% endfor %}</p>{% endif %}
		
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Featured</span></h3>
		
		<table class="movie-list">
			
			{% for actor, character in movie.get_actor_character %}
				
				<tr>
					<td><a rel="smdb:featured" href="{{ actor.get_absolute_url }}"><span rel="smdb:playsCharacter" resource="{{character.uri}}">{{ actor.name }}</span></a></td>
					<td><a rev="smdb:inMovie" href="{{ character.get_absolute_url }}" class="not-bold">{{ character.name }}</a></td>
				</tr>
				
			{% empty %}
				<p>No Actors found.</p>
			{% endfor %}
			
		</table>
	</div>
	
	{% if request.user.is_authenticated %}
	<div class="section">
		<h3 class="context-header"><span>Friends who watched this Movie</span></h3>
		
		<table class="user-list">
			
			{% for user in movie|friends_who_watched:request %}
				{% include 'widgets/user-list.html' %}
			{% empty %}
				<p>None of your friends has seen this movie.</p>
			{% endfor %}
			
		</table>
	</div>
	{% endif %}
	
	<div class="section">
		<h3 class="context-header"><span>Reviews <span class="new-review">- <a href="javascript:showReviewForm();" style="font-size: 16px; font-weight: normal">Write a Review</a></span></span></h3>
		
		<fieldset id="review-form">
			<form method="post" action="add-review/">
				<table>
					<tr>
						<th><label for="id_text">Review:</label></th>
						<td><textarea id="id_text" rows="3" cols="40" name="text"></textarea></td>
						<td><input type="submit" value="Post" /></td>
					</tr>
				</table>
				<div><input type="hidden" name="rev_ID" value="{{ movie.nextReviewID }}" /></div>
			</form>
		</fieldset>
		
		<table class="review-list">
		
		{% for review in movie.hasReview %}
		
			{% include 'widgets/review-list.html' %}
		
		{% empty %}
			<p class="new-review">No reviews. <a href="javascript:showReviewForm();">Write one?</a></p>
		{% endfor %}
		
		</table>
		
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Related Movies</span></h3>
	
		<table class="movie-gallery">
			<tr>
				{% for uri, title, score in suggestions %}
					<td><a href="{{ uri }}"><img src="{{MEDIA_URL}}images/movie-default.png" alt="Poster" /></a></td>
				{% endfor %}
			</tr>
		
			<tr>
				{% for uri, title, score in suggestions %}
					<td><a href="{{ uri }}" title="Score: {{score}}">{{ title }}</a></td>
				{% endfor %}
			</tr>
		
		</table>
	</div>
	</div>
{% endblock %}