{% extends "base.html" %}

{% block content %}
	<h2>
		{{ movie.title }} <span>({{ movie.releaseDate|date:"Y" }})</span>
		<a href="#"><span class="button done">Mark as Seen</span></a>
	</h2>
	
	<div class="description">
		
		
		<p>
			<b class="label">Synopsis:</b><br />
			<div class="text-box">{{ movie.smdb__synopsis }}</div>
		</p>
		
		<p><b class="label">Director:</b> <a href="{{ movie.directedBy.get_absolute_url }}">{{ movie.directedBy.name }}</a></p>
		<p><b class="label">Writers:</b> {% for obj in movie.writtenBy %}<a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</p>
		
		<p><b class="label">Genres:</b> {% for obj in movie.isOfGenre %}<a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a> {% if not forloop.last %}, {% endif %}{% empty %}&nbsp;{% endfor %}</p>
		<p><b class="label">Duration:</b> {{ movie.duration|default:"0" }} min</p>
		<p><b class="label">Release Date:</b> {{ movie.releaseDate|date:"F d, Y" }}</p>
		<p><b class="label">Setting Date:</b> ?</p>
		
		<p><b class="label">Filmed In:</b> &nbsp;</p>
		<p><b class="label">Takes Place In:</b> &nbsp;</p>
		
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Featured</span></h3>
		
		<table class="movie-list">
			
			{% for actor, character in movie.get_actor_character %}
				
				<tr>
					<td><a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a></td>
					<td><a href="{{ character.get_absolute_url }}" class="not-bold">{{ character.name }}</a></td>
				</tr>
				
			{% empty %}
				<p>No Actors found.</p>
			{% endfor %}
			
		</table>
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Friends who watched this Movie</span></h3>
		
		<table class="user-list">
		
			<tr>
				<td><img src="http://a3.twimg.com/profile_images/1152336459/avatar_instagram_reasonably_small.jpg" /></td>
				<td><a href="/user/">Miguel Tavares</a></td>
			</tr>
		
		</table>
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Reviews - <a href="#" style="font-size: 16px; font-weight: normal">Write a Review</a></span></h3>
		
		<table class="review-list">
		
		{% for review in movie.hasReview %}
		
			{% include 'widgets/review-list.html' %}
		
		{% empty %}
			<p>No reviews. <a href="#">Write one?</a></p>
		{% endfor %}
		
		</table>
		
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Related Movies</span></h3>
	
		<table class="movie-gallery">
			<tr>
				<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMTQ2OTE1Mjk0N15BMl5BanBnXkFtZTcwODE3MDAwNA@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
				<td><a href="/person/"><img src="http://ia.media-imdb.com/images/M/MV5BMjIwOTY5NDgzNV5BMl5BanBnXkFtZTcwNjE3NjQxMw@@._V1._SY314_CR5,0,214,314_.jpg" /></a></td>
				<td><a href="/person/"><img src="http://ia.media-imdb.com/images/M/MV5BNzk3NTUyOTMyNl5BMl5BanBnXkFtZTcwMjQzNDcwMg@@._V1._SY314_CR2,0,214,314_.jpg" /></a></td>
			</tr>
		
			<tr>
				<td><a href="/movie/">Harry Potter e os Talismãs da Morte: Parte 1</a></td>
				<td><a href="/person/">Quentin Tarantino</a></td>
				<td><a href="/person/">Uma Thurman</a></td>
			</tr>
		
		</table>
	</div>
	
{% endblock %}