{% extends "base.html" %}

{% load model_helpers %}

{% block content %}
	<h2>
		{{ movie.title }} <span>({{ movie.releaseDate }})</span>
		{% if request.user.is_authenticated %}<a href="#"><span class="button done">Mark as Seen</span></a>{% endif %}
	</h2>
	
	<img class="description-photo" src="{{ MEDIA_URL }}images/user-default.png" />
	
	<div class="description">
		
		<p>
			<b class="label">Synopsis:</b><br />
			<div class="text-box">{{ movie.smdb__synopsis }}</div>
		</p>
		
		<p><b class="label">Director:</b> <a href="{{ movie.directedBy.get_absolute_url }}">{{ movie.directedBy.name }}</a></p>
		<p><b class="label">Writers:</b> {% for obj in movie.writtenBy %}<a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</p>
		
		<p><b class="label">Genres:</b> {% for obj in movie.isOfGenre %}<a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a> {% if not forloop.last %}, {% endif %}{% empty %}&nbsp;{% endfor %}</p>
		<p><b class="label">Duration:</b> {{ movie.duration|default:"0" }} min</p>
		<p><b class="label">Release Date:</b> {{ movie.releaseDate }}</p>
		
		<p><b class="label">Filmed In:</b> &nbsp;</p>
		<p><b class="label">Takes Place In:</b> &nbsp;</p>
		
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Featured</span></h3>
		
		<table class="movie-list">
			
			{% for actor, character in movie.get_actor_character %}
				
				<tr>
					<td><a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a></td>
					<td><a href="{{ character.get_absolute_url }}" class="not-bold">{{ character.name }}</a></td>
				</tr>
				
			{% empty %}
				<p>No Actors found.</p>
			{% endfor %}
			
		</table>
	</div>
	
	{% if request.user.is_authenticated %}
	<div class="section">
		<h3 class="context-header"><span>Friends who watched this Movie</span></h3>
		
		<table class="user-list">
			
			{% for user in movie|friends_who_watched:request %}
				{% include 'widgets/user-list.html' %}
			{% empty %}
				<p>None of your friends has seen this movie.</p>
			{% endfor %}
			
		</table>
	</div>
	{% endif %}
	
	<div class="section">
		<h3 class="context-header"><span>Reviews - <a href="#" style="font-size: 16px; font-weight: normal">Write a Review</a></span></h3>
		
		<table class="review-list">
		
		{% for review in movie.hasReview %}
		
			{% include 'widgets/review-list.html' %}
		
		{% empty %}
			<p>No reviews. <a href="#">Write one?</a></p>
		{% endfor %}
		
		</table>
		
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Related Movies</span></h3>
	
		<table class="movie-gallery">
			<tr>
				{% for uri, title, score in suggestions %}
					<td><a href="{{ uri }}"><img src="{{MEDIA_URL}}/images/movie-default.png" /></a></td>
				{% endfor %}
			</tr>
		
			<tr>
				{% for uri, title, score in suggestions %}
					<td><a href="{{ uri }}" alt="Score: {{score}}" title="Score: {{score}}">{{ title }}</a></td>
				{% endfor %}
			</tr>
		
		</table>
	</div>
	
{% endblock %}