{% extends "base.html" %}

{% load model_helpers %}

{% block content %}
	<div about="{{ person.uri }}" typeof="smdb:Person">
	
	<h2 property="smdb:name">{{ person.name }}</h2>
	
	<div class="description">
		<p>{{ person|getOccupations|safe }}</p>
		<br />
		<p>
			<b class="label">Biography:</b><br />
			<span class="text-box" property="smdb:biography">{{ person.biography }}</span>
		</p>
	</div>
	
	{% if person.directed %}
	<div class="section" id="director-section">
		<h3 class="context-header"><span>Directed</span></h3>
		
		<table class="movie-list">
			
			{% with "smdb:directed" as rel %}
				{% for movie in person.directed %}
					{% include 'widgets/movie-list.html' %}
				{% endfor %}
			{% endwith %}
		</table>
	</div>
	{% endif %}
	
	{% if person.wrote %}
	<div class="section" id="writer-section">
		<h3 class="context-header"><span>Wrote</span></h3>
		
		<table class="movie-list">
			
			{% with "smdb:wrote" as rel %}
				{% for movie in person.wrote %}
					{% include 'widgets/movie-list.html' %}
				{% endfor %}
			{% endwith %}
			
		</table>
	</div>
	{% endif %}
	
	{% if person.performedIn %}
	<div class="section" id="actor-section">
		<h3 class="context-header"><span>Performed in</span></h3>
		
		<table class="movie-list">
			
			{% for movie, character in person.get_movie_characters %}
			<tr>
				<td><a rel="smdb:performedIn" href="{{ movie.get_absolute_url }}">{{ movie.title }}</a> as <a rel="smdb:playsCharacter" href="{{ character.get_absolute_url }}" class="not-bold">{{ character.name }}</a></td>
				<td>{{ movie.releaseDate }}</td>
			</tr>
			{% endfor %}
			
		</table>
	</div>
	{% endif %}
	
	<div class="section">
		<h3 class="context-header"><span>Related People</span></h3>
	
		<table class="movie-gallery">
			{% with suggestions as movie_list %}
				{% include 'widgets/movie-gallery.html' %}
			{% endwith %}
		</table>
	</div>
	
	</div>
	
{% endblock %}