{% extends "base.html" %}

{% load utils %}

{% block content %}
	<h2>{{ person.name }}</h2>
	
	<div class="description">
		<p>{{ person|getOccupations|safe }}</p>
		<br />
		<p>
			<b class="label">Biography:</b><br />
			<div class="text-box">{{ person.biography }}</div>
		</p>
		<p><b class="label">Date of Birth:</b> {{ person.dateOfBirth|date:"F d, Y" }}</p>
	</div>
	
	{% if person.directed %}
	<div class="section" id="director-section">
		<h3 class="context-header"><span>Directed</span></h3>
		
		<table class="movie-list">
			
			{% for movie in person.directed %}
				{% include 'widgets/movie-list.html' %}
			{% endfor %}
			
		</table>
	</div>
	{% endif %}
	
	{% if person.wrote %}
	<div class="section" id="writer-section">
		<h3 class="context-header"><span>Wrote</span></h3>
		
		<table class="movie-list">
			
			{% for movie in person.wrote %}
				{% include 'widgets/movie-list.html' %}
			{% endfor %}
			
		</table>
	</div>
	{% endif %}
	
	{% if person.performedIn %}
	<div class="section" id="actor-section">
		<h3 class="context-header"><span>Performed in</span></h3>
		
		<table class="movie-list">
			{% for movie in person.performedIn %}
				{% include 'widgets/movie-list.html' %}
			{% endfor %}
		</table>
	</div>
	{% endif %}
	
{% endblock %}