{% extends "base.html" %}

{% load utils %}

{% block content %}
	<h2>Search</h2>
	
	<div class="description">
		<form method="get" action="#">
			<label for="id_find">Looking for:</label> <input type="text" name="find" id="id_find">
			<input type="submit" value="Find">
		</form>
	</div>
	
	<div class="section search-results">
		<h3 class="context-header"><span>Results</span></h3>
		
		<h4>Semantic Results</h4>
		{% with semantic_list as result_list %}
			{% for page in result_list %}
			<div id="page-{{ forloop.counter }}" {% if not forloop.first %}style="display: none;"{% endif %}>
				<table class="movie-list">
					{% for uri, title, label, name in page %}
						<tr>
							<td>
							<a href="{{ uri }}">{{ title }}</a>
							</td>
							<td>
								<span class="note">
									({{ label }} {{ name }})
								</span>
							</td>
						</tr>
					{% endfor %}
				</table>
				<div class="clear-both"></div>
			</div>
			{% empty %}
				<p>No interpretation found.</p>
				<div class="clear-both"></div>
			{% endfor %}
			
			{% include 'widgets/paging-nav.html' %}
		{% endwith %}
		
		<br /><br />
		
		<h4>Movies</h4>
		{% with movie_list as result_list %}
		{% with "Movie" as type %}
			{% for page in result_list %}
			<div id="movie-{{ forloop.counter }}" {% if not forloop.first %}style="display: none;"{% endif %}>
				<table class="movie-list">
					{% for uri, title, year, pairs in page %}
						<tr>
							<td>
							<a href="{{ uri }}">{{ title }}</a>
							</td>
							{% if pairs %}
							<td>
								<span class="note">
									({% for label, name in pairs %}{{ label }} {{ name }}{% if not forloop.last %}, {% endif %}{% endfor %})
								</span>
							</td>
							{% endif %}
							<td>{{ year }}</td>
						</tr>
					{% endfor %}
				</table>
				<div class="clear-both"></div>
			</div>
			{% empty %}
				<p>No Movies found.</p>
				<div class="clear-both"></div>
			{% endfor %}
			
			{% include 'widgets/paging-nav.html' %}
		{% endwith %}
		{% endwith %}
		
		<br /><br />
		
		<h4>People</h4>
		{% with person_list as result_list %}
		{% with "Person" as type %}
			{% for page in result_list %}
			<div id="person-{{ forloop.counter }}" {% if not forloop.first %}style="display: none;"{% endif %}>
				<table class="movie-list">
					{% for uri, name, pairs in page %}
						<tr>
							<td><a href="{{ uri }}">{{ name }}</a></td>
							{% if pairs %}
							<td>
								<span class="note">
									({% for label, name in pairs %}{{ label }} {{ name }}{% if not forloop.last %}, {% endif %}{% endfor %})
								</span>
							</td>
							{% endif %}
							<td></td>
						</tr>
						{% endfor %}
				</table>
				<div class="clear-both"></div>
			</div>
			{% empty %}
				<p>No People found.</p>
				<div class="clear-both"></div>
			{% endfor %}

			{% include 'widgets/paging-nav.html' %}
		{% endwith %}
		{% endwith %}
		
		<br /><br />
		
		<h4>Characters</h4>
		{% with char_list as result_list %}
		{% with "Char" as type %}
			{% for page in result_list %}
			<div id="char-{{ forloop.counter }}" {% if not forloop.first %}style="display: none;"{% endif %}>
				<table class="movie-list">
					{% for uri, name, pairs in page %}
						<tr>
							<td><a href="{{ uri }}">{{ name }}</a></td>
							{% if pairs %}
							<td>
								<span class="note">
									({% for label, name in pairs %}{{ label }} {{ name }}{% if not forloop.last %}, {% endif %}{% endfor %})
								</span>
							</td>
							{% endif %}
							<td></td>
						</tr>
						{% endfor %}
				</table>
				<div class="clear-both"></div>
			</div>
			{% empty %}
				<p>No Characters found.</p>
				<div class="clear-both"></div>
			{% endfor %}

			{% include 'widgets/paging-nav.html' %}
		{% endwith %}
		{% endwith %}
	
{% endblock %}