{% extends "base.html" %}

{% load utils %}

{% block content %}
	<h2>Search</h2>
	
	<div class="description">
		<form method="get" action="#">
			<label for="id_find">Looking for:</label> <input type="text" name="find" id="id_find">
			<input type="submit" value="Find">
		</form>
	</div>
	
	<div class="section search-results">
		<h3 class="context-header"><span>Results</span></h3>
		
		<h4>Movies</h4>
		<table class="movie-list">
			{% for uri, title, year, pairs in movie_list %}
				<tr>
					<td>
					<a href="{{ uri }}">{{ title }}</a>
					</td>
					{% if pairs %}
					<td>
						<span class="note">
							({% for label, name in pairs %}{{ label }} {{ name }}{% if not forloop.last %}, {% endif %}{% endfor %})
						</span>
					</td>
					{% endif %}
					<td>{{ year }}</td>
				</tr>
			{% empty %}
				<p>No movies found.</p>
			{% endfor %}
		</table>
		<div class="clear-both"></div>
		
		<br /><br />
		
		<h4>People</h4>
		<table class="movie-list">
			{% for uri, name, pairs in person_list %}
				<tr>
					<td><a href="{{ uri }}">{{ name }}</a></td>
					{% if pairs %}
					<td>
						<span class="note">
							({% for label, name in pairs %}{{ label }} {{ name }}{% if not forloop.last %}, {% endif %}{% endfor %})
						</span>
					</td>
					{% endif %}
					<td></td>
				</tr>
			{% empty %}
				<p>No people found.</p>
			{% endfor %}
		</table>
		<div class="clear-both"></div>
	</div>
	
{% endblock %}