{% extends "base.html" %}

{% block content %}
	<h2>Recommended Movies</h2>

	<table class="movie-gallery">
		<tr>
			<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMjE0ODk2NjczOV5BMl5BanBnXkFtZTYwNDQ0NDg4._V1._SY314_CR3,0,214,314_.jpg" /></a></td>
			<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMjIzMDI4MTUzOV5BMl5BanBnXkFtZTcwNDY3NjA3Mg@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
			<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMTM2NjEyNzk2OF5BMl5BanBnXkFtZTcwNjcxNjUyMQ@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
			<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
			<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMTIyMTIxNjI5NF5BMl5BanBnXkFtZTcwNzQzNDM5MQ@@._V1._SY314_CR1,0,214,314_.jpg" /></a></td>
		</tr>
	
		<tr>
			<td><a href="/movie/">Pulp Fiction</a></td>
			<td><a href="/movie/">Inglorious Bastards</a></td>
			<td><a href="/movie/">The Shawshank Redemption</a></td>
			<td><a href="/movie/">Inception</a></td>
			<td><a href="/movie/">The Godfather</a></td>
		</tr>
	</table>
	
	<table class="movie-gallery">
		<tr>
			<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMTQ2OTE1Mjk0N15BMl5BanBnXkFtZTcwODE3MDAwNA@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
			<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMjE1MDQ3MzAyMV5BMl5BanBnXkFtZTcwOTE3NzEyMw@@._V1._SY314_CR3,0,214,314_.jpg" /></a></td>
			<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
			<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMTkyMTAzNDYyNl5BMl5BanBnXkFtZTcwNzI1MjMzMQ@@._V1._SY314_CR9,0,214,314_.jpg" /></a></td>
			<td><a href="/movie/"><img src="http://ia.media-imdb.com/images/M/MV5BMjE4MjA1NTAyMV5BMl5BanBnXkFtZTcwNzM1NDQyMQ@@._V1._SX214_CR0,0,214,314_.jpg" /></a></td>
		</tr>
	
		<tr>
			<td><a href="/movie/">Harry Potter e os Talismãs da Morte: Parte 1</a></td>
			<td><a href="/movie/">The Good, the Bad and the Ugly</a></td>
			<td><a href="/movie/">The Dark Knight</a></td>
			<td><a href="/movie/">Star Wars: Episode V - The Empire Strikes Back</a></td>
			<td><a href="/movie/">The Lord of the Rings: The Return of the King</a></td>
		</tr>
	
	</table>
{% endblock %}