{% extends "base.html" %}

{% block content %}
	<h2>
		{{ user.username }}
		{% if request.user.is_authenticated %}<a href="#"><span class="button done">Add as Friend</span></a>{% endif %}
	</h2>
	
	<div class="description">
		<p><b class="label">Date of Join:</b> {{ d_user.date_joined|date:"F d, Y" }}</p>
		<p><b class="label">Last Login:</b> {{ d_user.last_login|date:"F d, Y" }}</p>
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Has Seen</span></h3>
		
		<table class="movie-list">
			
			{% for movie in user.hasSeen %}
				{% include 'widgets/movie-list.html' %}
			{% empty %}
				<p>This user has not seen any movies yet.</p>
			{% endfor %}
			
		</table>
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Friends</span></h3>
		
		<table class="user-list">
			
			{% for user in user.isFriendsWith %}
				{% include 'widgets/user-list.html' %}
			{% empty %}
				<p>This user has no friends yet.</p>
			{% endfor %}
		
		</table>
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Reviews</span></h3>
		
		<table class="review-list">
		
		{% for review in user.hasWritten %}
		
			{% include 'widgets/review-list.html' %}
		
		{% empty %}
			<p>This user has not written any reviews yet.</p>
		{% endfor %}
		
		</table>
		
	</div>
	
{% endblock %}