{% extends "base.html" %}

{% block content %}
	<h2>Browse Movies</h2>
	
	<div class="description">
		{% include 'widgets/filter-list.html' %}
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Movie Results ({{ res_count }})</span></h3>
		
		{% for page in result_list %}
		<div id="page-{{ forloop.counter }}" {% if not forloop.first %}style="display: none;"{% endif %}>
			<table class="movie-list">
			
				{% for uri, title, year in page %}
					<tr>
						<td><a href="{{ uri }}">{{ title }}</a></td>
						<td>{{ year }}</td>
					</tr>
				{% endfor %}
			
			</table>
		</div>
		{% empty %}
			<p>No Movies found.</p>
		{% endfor %}
		
		{% include 'widgets/paging-nav.html' %}
	</div>
	
{% endblock %}