{% extends "base.html" %}
{% load utils %}

{% block content %}
	<h2>Browse Movies</h2>
	
	<div class="description">
		
		<table class="filter-list">
		<tr>
			
			{% for filter in filter_list %}
				<td>
				<table class="filter">
					<tr>
						<th>{{ filter.header }} ({{ filter|length|add:"-1" }})</th>
					</tr>
				
					{% for el in filter %}
					<tr {% if forloop.counter|higherThan:6 %}style="display:none;"{% endif %}>
						<td {% if el.selected %}class="selected"{% else %} onclick="window.location.href = '{{ request|useinURL:el }}';" {% endif %}>
							{{ el.data }}
						</td>
					</tr>
					{% endfor %}
					
					{% if filter|length|higherThan:10 %}
					<tr>
						<td onclick="displayCells(this)"><a href="#">more...</a></td>
					</tr>
					{% endif %}
				</table>
				</td>
			{% endfor %}
		</tr>
		</table>
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>Movie Results ({{ movie_list|length }})</span></h3>
		
		<table class="movie-list">
			
			{% for uri, title, year in movie_list %}
				<tr>
					<td><a href="{{ uri }}">{{ title }}</a></td>
					<td>{{ year }}</td>
				</tr>
			{% empty %}
				<p>No Movie found.</p>
			{% endfor %}
			
		</table>
	</div>
	
{% endblock %}