{% extends "base.html" %}

{% block content %}
	<h2>Browse Users</h2>
	
	<div class="description">
		{% include 'widgets/filter-list.html' %}
	</div>
	
	<div class="section">
		<h3 class="context-header"><span>User Results ({{ res_count }})</span></h3>
		
		{% for page in result_list %}
		<div id="page-{{ forloop.counter }}" {% if not forloop.first %}style="display: none;"{% endif %}>
			<table class="movie-list">
			
				{% for uri, username, fullname in page %}
				<tr>
					<td><a href="{{ uri }}">{% firstof fullname username %}</a></td>
					<td>&nbsp;</td>
				</tr>
				{% endfor %}
				
			</table>
		</div>
		{% empty %}
			<p>No users found.</p>
		{% endfor %}
		
		
		{% include 'widgets/paging-nav.html' %}
	</div>
	
{% endblock %}